name: Build PyICU wheels for Windows

on:
  workflow_dispatch:

env:
  PYICU_TAG: v2.16
  ICU_VERSION: 78
  ICU_RELEASE: 78.1/icu4c-78.1
  CIBW_TEST_REQUIRES: pytest six
  CIBW_TEST_COMMAND: pytest {project}/test
  CIBW_SKIP: "cp38* cp39* cp310*"

jobs:
  build_amd64:
    name: Build AMD64 wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    env:
      ICU_ARCH: 64
      ICU_PLAT: Win64-MSVC2022
    steps:
      - uses: actions/checkout@v5
      - run: download.cmd
        shell: cmd
      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS_WINDOWS: AMD64
          CIBW_ENVIRONMENT_WINDOWS: INCLUDE="include;$INCLUDE" LIB="lib$ICU_ARCH;$LIB"
      - uses: actions/upload-artifact@v5
        with:
          path: ./wheelhouse/*.whl
          name: wheels-win-amd64
  build_arm64:
    name: Build ARM64 wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    env:
      ICU_ARCH: ARM64
      ICU_PLAT: WinARM64-MSVC2022
    steps:
      - uses: actions/checkout@v5
      - run: download.cmd
        shell: cmd
      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS_WINDOWS: ARM64
          CIBW_ENVIRONMENT_WINDOWS: INCLUDE="include;$INCLUDE" LIB="lib$ICU_ARCH;$LIB"
      - uses: actions/upload-artifact@v5
        with:
          path: ./wheelhouse/*.whl
          name: wheels-win-arm64
  build_x86:
    name: Build x86 wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    env:
      ICU_PLAT: Win32-MSVC2022
    steps:
      - uses: actions/checkout@v5
      - run: download.cmd
        shell: cmd
      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS_WINDOWS: x86
          CIBW_ENVIRONMENT_WINDOWS: INCLUDE="include;$INCLUDE" LIB="lib;$LIB"
      - uses: actions/upload-artifact@v5
        with:
          path: ./wheelhouse/*.whl
          name: wheels-win32
